body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 40px;
  color: #693c72;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
}
ul {
  font-size: 15px;
  color: #693c72;
  list-style: none;
  text-align: center;
  text-transform: capitalize;
}
.row {
  padding: 30px;
}
.card_overview {
  display: flex;
  top: 10px;
}

.container {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}

.search_city {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  width: 300px;
}

.btn-primary {
  background: #693c72;
  border-color: #693c72;
}

.weather-forecast {
  text-align: center;
  font-size: 20px;
  color: #693c72;
}
